h1 {
color: purple;
}
.Help {
    background-color: chocolate; color: cyan;
}
#SJ {
    font-family: 'Courier New', Courier, monospace; background-color: brown; color: navy;
}
body {
    font-size: large; font-family: 'Times New Roman', Times, serif; 
}
.clickable:hover{
cursor: not-allowed; color: blue;
}
.clickable:active{
    color: purple;
}