h1 {
color: purple;
}
.Help {
    background-color: chocolate; color: cyan;
}
#SJ {
    font-family: 'Courier New', Courier, monospace; background-color: brown; color: navy;
}
body {
    font-size: large; font-family: 'Times New Roman', Times, serif; 
}
.clickable:hover{
cursor: not-allowed; color: blue;
height: 60px; width: 70px; margin: 8px;
}

.clickable:active{
    color: purple;
    height: 60px; width: 70px; margin: 8px;
}
.clickable{
    height: 150px; width: 150px; font-size: large; color: brown; background-color: aqua;
}